@import _/mix-master

body
    font-family: 'Raleway', sans-serif
    font-weight: 400

section.page.home
    background: url('/images/home-footer.jpg') 50% bottom no-repeat
    bottom: 0
    left: 0
    position: fixed
    right: 0
    top: 0
