body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #58676d; }

.btn,
button,
input[type="button"],
input[type="submit"] {
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #94acb5;
  border-bottom: 3px solid #6c8b97;
  color: white;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 3em;
  -moz-opacity: 0.85;
  -webkit-opacity: 0.85;
  opacity: 0.85;
  filter: alpha(opacity=85);
  padding: 0 2em;
  text-shadow: 0 -1px 1px #6c8b97;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  .btn:focus, .btn:hover,
  button:focus,
  button:hover,
  input[type="button"]:focus,
  input[type="button"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:hover {
    -moz-opacity: 0.99;
    -webkit-opacity: 0.99;
    opacity: 0.99;
    filter: alpha(opacity=99); }
  .btn.primary,
  button.primary,
  input[type="button"].primary,
  input[type="submit"].primary {
    background-color: #f06c4d;
    border-color: #cd5539;
    text-shadow: 0 -1px 1px #cd5539; }

h1, h2, h3 {
  color: black;
  font-weight: 200;
  padding: 1em 0; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

.navbar {
  display: none; }

.icons .icon {
  background: url("/images/icons-sprite.png") no-repeat;
  -moz-background-size: 550px 175px;
  -webkit-background-size: 550px 175px;
  background-size: 550px 175px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 50px; }
.icons .nature {
  background-position: -25px -100px; }
  .icons .nature.checked {
    background-position: -25px -25px; }
.icons .accessibility {
  background-position: -100px -100px; }
  .icons .accessibility.checked {
    background-position: -100px -25px; }
.icons .sports {
  background-position: -175px -100px; }
  .icons .sports.checked {
    background-position: -175px -25px; }
.icons .arts {
  background-position: -250px -100px; }
  .icons .arts.checked {
    background-position: -250px -25px; }
.icons .pets {
  background-position: -325px -100px; }
  .icons .pets.checked {
    background-position: -325px -25px; }
.icons .sights {
  background-position: -400px -100px; }
  .icons .sights.checked {
    background-position: -400px -25px; }
.icons .food {
  background-position: -475px -100px; }
  .icons .food.checked {
    background-position: -475px -25px; }

body#pageHome .container {
  background: url("/images/home-footer.jpg") 50% 100% no-repeat white;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  min-height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
body#pageHome section.page.home {
  padding: 3em 0 6em; }
  body#pageHome section.page.home #logo {
    display: block;
    margin: 0 auto 3em;
    max-width: 508px;
    width: 80%; }
@media screen and (max-height: 500px) {
  body#pageHome body {
    -moz-background-size: 100% 80%;
    -webkit-background-size: 100% 80%;
    background-size: 100% 80%; } }
